.crud-table{
    .ant-table-thead{
        .ant-table-cell{
            background-color:  #f3f3f3;
            text-align: center;

        }
    }
    .ant-table-cell{
        text-align: center;
    }
    .table-actions{
        display: flex;
        // justify-content: ;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 80%;
    }
}